.landing-scroll {
  mask: url(wave2.svg);
  mask-repeat: repeat-x;
  animation: scroll-left-2 40s linear infinite;
  mix-blend-mode: hard-light;
}

.landing-scroll-2 {
  mask: url(wave.svg);
  mask-repeat: repeat-x;
  animation: scroll-left 30s linear infinite;
  opacity: 0.75;
}

@keyframes scroll-left {
  from {
    mask-position: 0 bottom;
  }
  to {
    mask-position: 1000px bottom;
  }
}

@keyframes scroll-left-2 {
  from {
    mask-position: 0 bottom;
  }
  to {
    mask-position: 750px bottom;
  }
}
