@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --Primary-Gradient: linear-gradient(270deg, #F28B36 0%, #EF6140 100%);
    --Primary-Gradient-Hover: linear-gradient(90deg, #EC522D 0%, #EF7226 100%);
    --Primary-Gradient-Active: linear-gradient(90deg, #F8975F 0%, #F9B158 100%);
    --Primary-Disabled: linear-gradient(90deg, #946865 0%, #957462 100%);
}

@layer base {
    .bg-primary {
        background: var(--Primary-Gradient);
        background: "primary";
    }

    .bg-primary:hover {
        background: var(--Primary-Gradient-Hover);
        background: #EC522D;
    }

    .bg-primary:active {
        background: var(--Primary-Gradient-Active);
        background: #F9B158;
    }

    .text-outline {
        text-shadow: 0px 0px 2px #EF6140, 0px 0px 2px #EF6140, 0px 0px 2px #EF6140;
    }
}

@layer components {
    .btn-primary {
        @apply font-heading m-4 rounded-full px-5 py-2 text-lg font-light text-white drop-shadow-md bg-primary active:outline-double active:outline-primary active:text-outline;
    }
}