@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Primary-Gradient: linear-gradient(270deg, #f28b36 0%, #ef6140 100%);
  --Primary-Gradient-Hover: linear-gradient(90deg, #ec522d 0%, #ef7226 100%);
  --Primary-Gradient-Active: linear-gradient(90deg, #f8975f 0%, #f9b158 100%);
  --Primary-Disabled: linear-gradient(90deg, #946865 0%, #957462 100%);
}

@layer base {
  body {
    @apply bg-white text-black dark:bg-black dark:text-white;
  }

  .link {
    @apply text-primary;
    text-decoration: none;
  }

  .link:hover {
    @apply text-secondary;
    text-decoration: none;
  }

  p a {
    @apply link;
  }

  h1 {
    @apply font-heading text-4xl;
    font-weight: 600;
  }

  h2 {
    @apply font-heading text-3xl;
    font-weight: 600;
  }

  h3 {
    @apply font-heading text-2xl;
    font-weight: 400;
  }

  h4 {
    @apply font-heading text-xl;
    font-weight: 300;
  }

  h5 {
    @apply font-heading text-lg;
    font-weight: 300;
  }

  p {
    @apply text-base;
  }

  small {
    @apply text-sm;
  }

  input {
    @apply rounded-xl border border-black25 bg-white px-1 py-1 enabled:hover:border-2 enabled:focus-visible:outline-primary dark:border-black50 dark:bg-black;
  }

  input:focus {
    box-shadow: 0px 0px 3.5px 2px #f28b36;
  }

  .bg-primary-gradient {
    background: var(--Primary-Gradient);
    background: "primary";
  }

  .bg-primary-gradient:hover {
    background: var(--Primary-Gradient-Hover);
    background: #ec522d;
  }

  .bg-primary-gradient:active {
    background: var(--Primary-Gradient-Active);
    background: #f9b158;
  }

  .text-outline {
    text-shadow:
      0px 0px 2px #ef6140,
      0px 0px 2px #ef6140,
      0px 0px 2px #ef6140;
  }
}

@layer components {
  .btn-primary {
    @apply bg-primary-gradient active:text-outline m-1 rounded-full px-3 py-1 text-white drop-shadow-md active:outline-double active:outline-primary lg:px-5 lg:py-2;
  }
  .btn-secondary {
    @apply m-1 rounded-full bg-transparent px-3 py-1 text-secondary outline outline-secondary hover:bg-black25 active:bg-transparent lg:px-5 lg:py-2;
  }

  .thumbnail {
    @apply mx-2 rounded-xl border border-black25 bg-white px-1 py-3 dark:border-white75 dark:bg-black;
  }
}
